<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inProduction</key>
	<true/>
	<key>developmentAppKey</key>
	<string>_9QVkUA6SuSvmx5oA0Lubw</string>
	<key>developmentAppSecret</key>
	<string>sVVOoACpTuu_9hfUJUnY1A</string>
	<key>productionAppKey</key>
	<string>IFrbvk6IQ1i176XDih0sHA</string>
	<key>productionAppSecret</key>
	<string>kvl9NeBiSxGsNn1vDH27Cw</string>
</dict>
</plist>
